In [1]:
from bs4 import BeautifulSoup
import requests
import re
import numpy as np
import pandas as pd
from time import sleep
from random import randint

### As we are only interested in movies from the 21st Century we can exclude the first 4 pages

In [2]:
mylist = []
pages = np.arange(4, 29, 1)
for page in pages:
    page = requests.get("https://bechdeltest.com/?page=" + str(page))
    sleep(randint(1,2))
    soup = BeautifulSoup(page.text, 'html.parser')
    movie_list = soup.find_all(class_="movie")
    for movie in movie_list:
        title = movie.text.strip()
        #test = movie("img")[0]["src"]
        test = re.findall(r"\w[/](\w.*)[.]", movie("img")[0]["src"])
        test_result = test[0]
        headers = [title, test_result]
        mylist.append(headers)

### We have 5,000 movies in total

In [4]:
len(mylist)

5000

In [3]:
col_names = ['movie', 'Bechdel_test']
df = pd.DataFrame.from_records(mylist, columns=col_names)
df.head()

                        movie Bechdel_test
0             Death Race 2050         pass
1  Deidra & Laney Rob a Train         pass
2               Descendants 2         pass
3             Despicable Me 3         pass
4                     Detroit       nopass

In [4]:
df.to_csv('mylist_backup.csv', index=False)